<!DOCTYPE html>
<html>
  <head>
    <title>BurningAirlines</title>
    <%= csrf_meta_tags %>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container"> 
    
      <nav class="navbar navbar-inverse">
          <div class="navbar-header">
            <a class="navbar-brand" href="#">Burning Airlines</a>
          </div>
          <ul class="nav navbar-nav">
            <li><%= link_to("Planes", airplanes_path)  %></li>
            <li><%= link_to("Flights", flights_path)  %></li>
          </ul>
      </nav>

      <main class="jumbotron">
      <%= yield %>
      </main>

    </div>
  </body>

  
</html>
